<!DOCTYPE html>
<html lang="en">
<head>
    <title>Algas kalkulators. Timohins</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body ng-app="algas">
<h1>Solis 1</h1>

<div ng-controller="algas-js">
    <p>Bruto alga: <input name="bruto1" type="text" ng-model="bruto"/></p>

    <p>Neto alga: <input name="neto1" type="text" ng-model="neto"/></p>
</div>

<h1>Solis 2</h1>

<div ng-controller="solis2">
    <p>Bruto alga: <input name="bruto2" type="text" ng-model="bruto"/></p>

    <p>Neto alga: <input name="neto2" type="text" ng-model="calcResult.neto"/></p>
</div>
<!--<script src="js/angular-bootstrap.js" type="text/javascript"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"
        type="text/javascript"></script>
<script src="js/algas.js"></script>
</body>

</html>